@import 'vendors/reset';
@import 'vendors/fonts';
@import 'config/medias';
@import 'blocs/newParty';

body {
  font-family: 'Titillium Web', sans-serif;
}

main {
  @include medium {
    display: flex;
    justify-content: center;
  }
  height: 100vh;
  background-color: grey;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

.m-top {
  margin-top: 2rem;
}

.containerForm {
  color: white;
  @include medium {
    width: 60vh;
    margin: 0 1rem;
  }
  width: 80%;
  padding: 25px;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
  margin: 0 auto;
}

@supports (display: flex) {
  .containerForm {
    align-self: center;
    flex-direction: column;
    display: flex;
    max-width: 400px;
  }
}

.btn-share {
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: flex;

  input[type=text] {
    @include medium {
      width: 130px;
    }
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(https://cdn3.iconfinder.com/data/icons/virtual-notebook/16/button_share-512.png);
    background-position: 6px 6px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 8px 15px 8px 32px;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
}

.item {
  display: block;
  margin-bottom: 5px;
}
